@keyframes glassApear {
  0% {
    opacity: 0;
    transform: scale(0.1) translatey(-1000px);
  }
  30% {
    opacity: 1;
  }
  70% {
    transform: scale(1) translatey(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translatey(0);
  }
}

@keyframes changeGlassForward {
  0% {
  }
  25% {
    opacity: 0;
    transform: scale(0.5) translateX(-400px);
  }
  50% {
    transform: scale(0.3) translatex(0px); 
    opacity: 0;
    
  }
  75% {
    opacity: 0;
    transform: scale(0.5) translateX(400px);  
  }
  100% {
    transform: scale(1) translate(0) ;
    opacity: 1;
  }
}

@keyframes changeGlassBack {
  0% {
  }
  25% {
    opacity: 0;
    transform: scale(0.5) translateX(400px);
  }
  50% {
    transform: scale(0.3) translatex(0px); 
    opacity: 0;
    
  }
  75% {
    opacity: 0;
    transform: scale(0.5) translateX(-400px);  
  }
  100% {
    transform: scale(1) translate(0) ;
    opacity: 1;
  }
}
@keyframes appBar{
from {opacity: 0;}
to {opacity: 1;}
}
.hydro__logo--enter {
  animation: glassApear 0.5s ease-in 0.5s  both;
//   animation: changeGlass 0.3s ease-in-out 0.2s forwards;
}
.changeGlassAnimationForward {
    animation: changeGlassForward 0.3s ease-in-out 0.1s forwards;
}
.changeGlassAnimationBack {
  animation: changeGlassBack 0.3s ease-in-out 0.1s forwards;
}

.app-bar {
  // transition: all 2s ease-in 0.3s ;
  // animation: appBar 0.3s ease-in 0.3s both
 }
 .app-bar__open{

 }

// .app-bar__open{
 .navigation__open {
  animation: appBar 0.3s ease-in 0.3s both
 }
// }
//add animation on tranistion beteen days
//add animation to fill glass after adding glass of water
