@import "../variables.scss";

.app-bar {
  position: relative;
  height: 8vh;
  display: flex;
  justify-content: center;
  background-color: $hydroGlass;
  border-radius: 10px;

  &__open {
    height: 230px;
   
  }
  // margin: auto;
  // padding-top: 5px;
  // width: 99vw;
}

.js-hamburger {
  display: none;
  position: absolute;
  right: 35px;
  top: 13px;
  color: white;
  &:hover,:focus {  
    font-size: larger;
  }
}

.navigation {
  // position: absolute;
  // top: 5px;
  // padding: 5px;
  width: 70%;
  // margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link {
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    top: 50%;
    &:hover {
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 520px) {
  .js-hamburger {
    display: inline;
  }

  .navigation {
    display: none;
    width: 100%;
  }
  .navigation__link {
    width: 65%;
  }
}
.navigation__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  // height: 220px;
   width: 70%;
   position: absolute;
   left: 10px;
}
