@import "~normalize.css";
@import "_variables";
@import "modules/hello.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "modules/app-bar.scss";
@import "modules/animation.scss";

body {
  background: $hydro;
  color: #fff;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.main-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  min-height:80vh ;
}

.app-header {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 38px;
  &__title {
    font-size: 55px;
    //   position:absolute;
    //   top: 20px
    letter-spacing: 3px;
    margin: 20px 0 5px;
    z-index: 2020;
    order: 0;
  }
  &__description {
    margin-top: 6px;
  }
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__elem {
    margin: 0 10px;
  }
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.history {
  margin: 30px 0;
}

table {
  width: 200px;
  background-color: $hydro;
  // border-collapse: collapse;
  border-width: 2px;
  border-color: #f3f3f3;
  color: white;
  border-style: solid;
  color: #000000;
}

.customTable td,
.customTable th {
  border-width: 2px;
  border-color: #f3f3f3;
  border-style: solid;
  padding: 5px;
}#history-chart{
  // background-color: WHITE;
width:400px;
height: 300px;
}

.customTable thead {
  background-color: #f3214f;
}

@media screen and (max-width: 520px) {
  .js-hamburger {
    display: inline;
  }

  .profile-pic {
    display: none;
  }
  .navigation {
    display: none;
  }
  .navigation__link {
    width: 75%;
  }
  .description {
     width:230px;
  }
}
#history-chart {
  width:95vw;
}
.navigation__open {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 220px;
}
.description {
  max-width: 410px;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 34vh;
  margin: 0 15px;

  &__header{
    margin-bottom: 20px;
    
  }
  &__paragraph{
text-align: justify;
  }

}
.portfolio-link{
  text-decoration: none; 
  color:white;
  font-size: larger;
}
.portfolio-link:hover{
  text-decoration: underline;
}

